*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  /* font-size: 6.25%; */
  /* ========= Defining colors */
  --primary-color: #78350f;
  --text-color: #0f172a;
  --background-color: #fefaea;
}

body {
  /* background-image: url("../images/Rectangle\ 31.png");
  background-repeat: no-repeat; */
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: var(--background-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.bgrect {
  position: absolute;
  z-index: -1;
  right: 0;
  padding-top: 300px;
}
/* ====== heading fonts */
h1 {
  font-size: 72px;
  font-weight: 900;
}
h2 {
  font-size: 56px;
  font-weight: 900;
}

/* ======== styling NAVBAR ======= */
.header {
  padding: 24px 80px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 32px;
}
.header .logo a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}
.header .links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}
.links a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: ;
}
.links .linkbtn1 {
  border: 1px solid var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
}
