*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  /* font-size: 6.25%; */
  /* ========= Defining colors */
  --primary-color: #78350f;
  --secondary-color: #fbbf24;
  --text-color: #0f172a;
  --background-color: #fefaea;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url("../images/Rectangle\ 31.png");
  background-repeat: no-repeat; */
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: var(--background-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.bgrect {
  position: absolute;
  z-index: -1;
  right: 0;
  padding-top: 300px;
}
/* ====== heading fonts */
h1 {
  font-size: 72px;
  font-weight: 900;
  color: var(--text-color);
}
h2 {
  font-size: 56px;
  font-weight: 900;
}

/* ======== styling NAVBAR ======= */
.header {
  padding: 24px 80px;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-size: 32px;
}
.header .logo a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
}
.header .links {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  font-size: 16px;
  font-weight: 700;
}
.links a {
  text-decoration: none;
  color: var(--primary-color);
}
.links a:hover {
  border: 3px;
  border-bottom: 5px solid var(--primary-color);
  padding-bottom: 10px;
}
.links .linkbtn1 {
  border: 2px solid var(--primary-color);
  padding: 10px 16px;
  border-radius: 8px;
}
.linkbtn1:hover {
  a {
    color: #fff;
  }
  color: #fff;
  background-color: var(--primary-color);
}
/* =====styling Hero section */
.herosec {
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.herosec .col1 {
  line-height: 1.15;
}

.col1 p {
  max-width: 714px;
  color: var(--text-color);
}
.col1 .btns {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--primary-color);
  font-weight: 700;
}
.btns a {
  color: var(--primary-color);
  border-radius: 8px;
  text-decoration: none;
  transition: all ease 0.5s;
}
.btns .col1btnlk:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}
.btns .col1btnlk2:hover {
  color: #95471a;
  transform: scale(1.02);
}
.btns .sign {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px 16px;
}
.btns .watch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.col2 img {
  transition: all ease 0.5s;
}
.col2 .gold {
  background-color: var(--secondary-color);
  width: 367px;
  height: 372px;
  border-radius: 40px;
  position: absolute;
  z-index: -1;
  margin: 20px;
}
.col2 img:hover {
  transform: perspective(500px) rotateY(20deg);
}
/* ======styling vect sections ======= */
.vectsec {
  color: var(--text-color);
  display: flex;
  gap: 80px;
  padding: 80px;
  line-height: 1;
  /* overflow: hidden;
  background-clip: padding-box;
  position: relative; */
}
.vectsec p {
  max-width: 373px;
  line-height: 1.5;
}
.vectsec .rect1 {
  background-color: rgb(12, 101, 13);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  transform: rotate(30deg);
  position: absolute;
  z-index: -1;
  left: 120px;
  top: 740px;
  /* top: 1px; */
}

/* ===== styling backlight section ====== */
.backlit {
  /* background-image: url("../images/Backlights.png"); */
  background-color: var(--text-color);
  /* background-repeat: no-repeat; */
  padding: 80px;
  color: #fff;
}
.backlit .txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt .btnlink {
  border: 2px solid #fff;
  padding: 10px 16px;
  border-radius: 8px;
  width: 233px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
.btnlink a {
  color: #fff;
  text-decoration: none;
}
.btnlink:hover {
  a {
    color: var(--secondary-color);
  }
  border: 2px solid var(--secondary-color);
}
.cards {
  display: flex;
  align-items: center;
  gap: 70px;
}
.cards .cd1,
.cd2,
.cd3 {
  width: 395px;
  height: 500px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 -2px 15px rgba(255, 255, 255, 0.07);
  transition: all ease-in 0.3s;
}
.cards .cd1:hover,
.cd2:hover,
.cd3:hover {
  box-shadow: 0 -2px 15px rgba(255, 255, 255, 0.5);
  transform: scale(1.1);
}
.cd1,
.cd2,
.cd3 {
  height: 220px;
  margin-bottom: 0;
}
.cards .descr {
  padding: 32px;
  margin-bottom: 5px;
  height: 132px;
}
.cards .cdbtn {
  margin-top: 5px;
  padding: 32px;
  height: 130px;
  padding-top: 40px;
}
.cdbtn a {
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  transition: all ease 0.5s;
}
.cdbtn a:hover {
  background-color: #152037;
  font-size: 20px;
}

/* ============ SIGNING STYLES ================= */
.sect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
.loginpage {
  /* margin-top: 0; */
  /* background-image: linear-gradient(90deg, #fff, #ffd59c); */
  /* width: 100vw;
  height: 100vh; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
  border-radius: 36px;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 36px;
}
p {
  font-size: 18px;
  color: var(--color-body);
}
p a {
  color: var(--color-body);
  font-weight: 600;
}
.signin {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  padding-right: 30px;
  width: 50%;
}
.signin form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
form img {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: 1px solid var(--color-body);
  /* padding: 7px; */
}
form input {
  width: 320px;
  height: 40px;
  border-radius: 12px;
  outline: 0;
  border: 0;
  background-color: #eeeded;
  padding: 10px 30px;
  margin-bottom: 15px;
}
/* 2ND SIDE OF THE FORM - ORANGE */
.helloside {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  width: 50%;
  height: inherit;
  margin-right: -40px;
  border-top-left-radius: 134px;
  border-bottom-left-radius: 134px;
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}
form button {
  width: 154px;
  height: 40px;
  background-color: var(--text-color);
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  border: 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

.helloside p {
  color: #fff;
}
.helloside button {
  width: 154px;
  height: 40px;
  color: #fff;
  background-color: var(--color-secondary);
  border: 3px solid #fff;
  border-radius: 8px;
  font-weight: 700;
  padding: 5px 25px;
}
