*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  /* font-size: 6.25%; */
  /* ========= Defining colors */
  --primary-color: #78350f;
  --text-color: #0f172a;
}

body {
  background-image: url("../images/Rectangle\ 31.png");
  background-repeat: no-repeat;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
